
html{
  background-color: black;
}

@font-face {
  font-family: RINGM;
  src: url("../public/RINGM___.TTF");
}

main{
  background-image: url("../public/Sprites/Panels/Panel.png");
  height: 50vh;
  background-position: center;
  background-size: cover;
  font-family: 'RINGM';
  color: white;
}

h1{
  color: white;
}