body{
  font-weight: bold;
  font-family: 'Carrois Gothic SC';font-size: 22px;
  display: grid;
  grid-template-areas: 
  'desk bank'
  'desk icons';
  grid-template-columns: 60% 40%;
  grid-template-rows: 72% 28%;
  width: 99vw;
  height: 99vh;
  background-color: black;
}
.mana{
  filter:opacity(0.4) drop-shadow(0px 0px 0px rgb(73, 1, 73)) contrast(75%) brightness(85%) saturate(8);
  
}
.simpleCard{
  display: flex;
   align-items: center;
   height: 95%;
   width: 90%;
}
.imgMana{
  position: relative;
  display: inline-block;
}
.cost{
  position: absolute;
  top: 40%;
  left: 43%
}

.cardName{
  align-items: center;
  margin-left: 20%;
  font-size: 40px;

}
.costName{
  grid-area: bank;
  width: 100%;
  height: 100%;
  background-image: url("../public/Sprites/Panels/Panel.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  overflow-y: scroll; 
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.costName::-webkit-scrollbar {
  display: none;
}
.modalContainer{
  position: absolute;
    top: 15%;
    left: 35%;

}
.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/Sprites/Panels/BackgroundVertical.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 70vh;
  width: 28vw;
  color: white;
  font-size: 20px;
}
.titleContainer{
  width: 100%;
  height: 100%;
}
.textTitle{
  position: absolute;
  margin-left: 100px;
  margin-top: 20px;
}
.imgTitle{
  position: absolute;
  width: 85%;
  height: auto;
  margin-left: 18px;
}
.popupImg{
  width: 77%;
  height: 40%;
  object-fit: cover;
  position: absolute;
  margin-top: 38.2px;
  margin-left: 15px;
  border-radius: 5%;
}
.imgContainer{
  width: 90%;
  height: 50px;
  margin: 5%;
}

.backgroundImg{
  height: 45%;
  width: 85%;
  margin-top: 25px;
  position: absolute;
}
.buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 400px;
}
.buttons img{
  width: 45%;
  height: 50%;
}

.deck{
  grid-area: desk;
  height: 100%;
  width: 100%;
}

.deckInfo{
  grid-area: icons;
}
.fondoDeck{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.fondoInfo{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

